.env
.env.local
.env.*.local

##React
node_modules/
dist/
.vite/

##Symfony
vendor/
var/cache/
var/log/

##Terraform
terraform.tfstate
terraform.tfstate.*
.terraform/
*.tfvars
*.tfplan


*.pem
*.key
id_rsa
/examen/


##docker

docker-compose.override.yml

.vscode/
.idea/

